MONGO_ROOT_USERNAME=wildlife
MONGO_ROOT_PASSWORD=change-this-password
MONGO_HOST_PORT=27019
APP_ADMIN_EMAIL=admin@wildlife.local
APP_ADMIN_PASSWORD=Admin123!
APP_CUSTOMER_EMAIL=customer@wildlife.local
APP_CUSTOMER_PASSWORD=Customer123!
